@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
  --tw-bg-opacity: 1;
  background-color: rgb(45 33 61 / var(--tw-bg-opacity));
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}